.MemeThumbnail {
    display:flex;
    height:90vh;
    overflow-y:auto;
    justify-content: space-evenly;
    padding-top: 15px;
    flex-wrap: wrap;
}.MemeThumbnail>*{
    width: 32vw;
    height: 25vh;
}
/*gestion meo des liens de memes*/
.MemeThumbnail>*>svg{
    width: 100%;
    height: 100%;
}